nav {
    width: 100vw;
    height: 8vh;
}

nav .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.navbar {
    padding: 1rem 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

.navbar-inner {
    background-color: transparent;
}