/* Left side button */
.button_img {
    font-size: 2.5rem;
}

.button--pan {
    cursor: pointer;
    padding: 2.5em 4em;
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    border-radius: 0 4em 4em 0;
    position: absolute;
    overflow: hidden;
    text-decoration: none;
}

.button--pan span {
    position: relative;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    font-family: "QuestaSans";
}

.position1 {
    left: -30;
    top: 350;
    transition: all 2s;
}

.position2 {
    left: -30;
    bottom: 0;
    transition: all 2s;
}

.button--pan2 {
    cursor: pointer;
    padding: 2.5em 4em;
    background-color: #000;
    color: #fff;
    border: 2px solid black;
    border-radius: 4rem 0 0 4rem;
    position: absolute;
    overflow: hidden;
    text-decoration: none;
}

.button--pan2 span {
    position: relative;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    font-family: "QuestaSans";
}

.position3 {
    top: 540;
    right: -30;
    transition: all 2s;
}

.position4 {
    top: 450;
    right: -30;
    transition: all 2s;
}

.position1:hover {
    left: 0;
}

.position2:hover {
    left: 0;
}

.position3:hover {
    right: 0;
}

.position4:hover {
    right: 0;
}

@media (max-width:1200px) {

    .button--pan,
    .button--pan2 {
        display: none;
    }
}

@media (max-width:1400px) {
    .position4 {
        top: 390;
        right: 0;
    }
}