@import url(./components.css);
@import url(./resets.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
@import url("./locomotive-scroll.css");

@font-face {
    font-family: 'QuestaSans';
    src: url('../fonts/FontsFree-Net-2-QuestaSansRegular.ttf') format("truetype");
}

@font-face {
    font-family: 'MarionBold';
    src: url('../fonts/Marion\ Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'MarionRegular';
    src: url('../fonts/Marion\ Regular.ttf') format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@600&display=swap');

html {
    font-size: 18px;
}

html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@media (max-width:992px) {
    html {
        font-size: 12px;
    }
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

h4 {
    font-size: 1.777rem;
}

h5 {
    font-size: 1.333rem;
}

p {
    font-size: 1rem;
}

nav {
    width: 100vw;
    height: 75px;
    background-color: rgb(182, 182, 182);
    font-family: "MarionRegular";
}

nav .container-fluid {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.navbar {
    padding: 1rem 0;
    margin: -1 0;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.25rem;
        padding-top: 1rem;
        padding-top: 1rem;
    }

    .navbar {
        padding: 3rem;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.25rem;
    }
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
    background-color: inherit;
}

.nav_button {
    cursor: pointer;
    width: 100%;
    padding: 1rem 2rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 3rem;
    overflow: hidden;
    text-decoration: none;
    font-size: 1rem;
    font-family: "QuestaSans";
}

.foot {
    width: 100vw;
    height: 150px;
    position: relative;
    overflow: hidden;
    align-items: center;
    margin-bottom: auto;
    background-color: rgb(182, 182, 182);
    margin: -1 0;
}

.foot_socials {
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}

.socials_button {
    color: black;
    font-size: 2.5rem;
    padding: 0 1.5rem;
}

.foot_text {
    margin-left: auto;
    margin-right: 6.5rem;
    font-family: "MarionRegular";
}

@media (max-width:576px) {
    .container {
        padding: 0 3rem;
    }

    .foot {
        height: 100px;
    }

    .foot_text {
        margin-right: 0;
    }

}

@media (min-width:577px) and (max-width:768px) {
    .foot {
        height: 100px;
    }

    .foot_text {
        margin-right: 0;
    }

}

@media (min-width:769px) and (max-width:992px) {
    .nav {
        height: 65px;
    }

    .foot {
        height: 120px;
    }

    .foot_text {
        margin-right: 6.5rem;
    }

}

@media (min-width:993px) and (max-width:1200px) {
    .nav {
        height: 65px;
    }

    .foot {
        height: 120px;
    }

    .foot_text {
        margin-right: 6.5rem;
    }

}