.hero {
    width: 100vw;
    height: 1080px;
    position: relative;
}

.hero_img {
    max-width: 100%;
    height: auto;
    padding-top: 8rem;
    filter: drop-shadow(1rem 1rem 1rem grey);
}

.hero_head {
    padding-top: 8rem;
    font-family: "MarionBold";
}

.background_top {
    background-color: rgb(182, 182, 182);
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
}

.marquee_container {
    margin-bottom: 35px;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 55%;
}

.marquee_wrapper {
    animation: marquee 35s linear infinite;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.marquee_text {
    display: inline-block;
    font-family: 'Overpass Mono', monospace;
    font-size: 200px;
    letter-spacing: -10;
    margin: 0;
    color: rgba(255, 255, 255, .7);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

@media (max-width:768px) {
    .marquee_text {
        font-size: 100px !important;
        letter-spacing: -5 !important;
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.intro {
    width: 100vw;
    height: 810px;
    position: relative;
    display: flex;
    align-items: center;
}

.intro_head {
    font-family: "QuestaSans";
    font-weight: bolder;
    line-height: 129%;
}

.intro_text {
    font-family: "QuestaSans";
}

.intro_button_contain {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.intro_button {
    color: black;
    font-size: 2.5rem;
}

.work {
    width: 100vw;
    height: 1080px;
    position: relative;
    display: flex;
    align-items: center;
}

.work-contain {
    height: 70%;
    width: 100%;
    border-radius: 1rem;
    background-color: grey;
    overflow: hidden;
    margin-bottom: 5rem;
}

.work_img {
    display: block;
    width: 100%;
    height: 100%;
    filter: brightness(.6) contrast(150%);
}

.work_top_head {
    font-family: "MarionBold";
}

.work_head {
    font-family: "QuestaSans";
    font-weight: bolder;
}

.work_text {
    font-family: "QuestaSans";
}

.testimonials {
    width: 100vw;
    height: 810px;
    position: relative;
}

.testimonials_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.testimonials_img {
    border-radius: 50%;
    width: 75%;
    border: 1px solid black;
}

.testimonials_head {
    font-family: "QuestaSans";
    font-weight: bolder;
}

.testimonials_text1 {
    font-family: "MarionBold";
}

.testimonials_text2 {
    font-family: 'Overpass Mono', monospace;
    letter-spacing: -15%;
}

.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 10%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    text-align: left;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    top: 10%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 10%;
    margin-bottom: 1rem;
    margin-left: 10%;
    list-style: none;
    overflow: hidden;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 400px;
    height: 1%;
    border-radius: 12px;
    padding: 0;
    margin: 0 0.5rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-control-prev-icon {
    filter: invert();
}


.carousel-control-next-icon {
    filter: invert();
}

.carousel-control-prev {
    position: absolute;
    bottom: 170;
    right: 200;
    top: unset;
    left: unset;
    z-index: 1;
    display: block;
    width: fit-content;
    overflow: hidden;
}

.carousel-control-next {
    position: absolute;
    bottom: 170;
    right: 100;
    top: unset;
    left: unset;
    z-index: 1;
    display: block;
    width: fit-content;
    overflow: hidden;
}

.client_list {
    height: 1080px;
    width: 100vw;
    position: relative;
    display: grid;
    align-content: center;
    overflow: hidden;
    gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    /* background-color: rgb(211, 213, 214); */
}

.marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
    -webkit-mask-image: linear-gradient(to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
    mask-image: linear-gradient(to right,
            hsl(0 0% 0% / 0),
            hsl(0 0% 0% / 1) 20%,
            hsl(0 0% 0% / 1) 80%,
            hsl(0 0% 0% / 0));
}

.marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
    min-width: 100%;
    animation: scroll-x 60s linear infinite;
}

.marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -3s;
}

@keyframes scroll-x {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14)));
    }
}

/* Element styles */
.marquee img {
    display: grid;
    place-items: center;
    width: clamp(10rem, 1rem + 40vmin, 30rem);
    /* background: rgb(182, 182, 182); */
    aspect-ratio: 16/9;
    /* padding: calc(clamp(10rem, -10rem + 40vmin, 30rem) / 10); */
    border-radius: 1rem;
}

/* Parent wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(clamp(10rem, 1rem + 40vmin, 30rem) / 14);
    margin: auto;
    max-width: 100vw;
}

@keyframes fade {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.cta {
    width: 100vw;
    height: 918px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(182, 182, 182);
}

.rule {
    margin: 10rem 0;
    width: 100%;
    color: black;
    opacity: 1;
}

.cta_button {
    cursor: pointer;
    width: 100%;
    padding: 2.5rem 3rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 3rem;
    overflow: hidden;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "QuestaSans";
}

.cta_head {
    font-family: "MarionBold";
}

@media (max-width:576px) {
    .hero {
        height: 500px;
    }

    .hero_img {
        max-width: 60%;
        padding-top: 0;
    }

    .hero_head {
        padding-top: 0;
    }

    .intro {
        height: 450px;
    }

    .intro_button_contain {
        margin-top: 5rem;
    }

    .work {
        height: 500px;
    }

    .testimonials {
        height: 500px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .client_list {
        height: 450px;
    }

    .cta {
        height: 500px;
    }

    .rule {
        margin: 5rem 0;
    }
}

@media (min-width:577px) and (max-width:768px) {
    .hero {
        height: 575px;
    }

    .hero_img {
        max-width: 60%;
        padding-top: 0;
    }

    .intro {
        height: 550px;
    }

    .intro_button_contain {
        margin-top: 6.5rem;
    }

    .work {
        height: 550px;
    }

    .testimonials {
        height: 450px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .client_list {
        height: 550px;
    }

    .cta {
        height: 550px;
    }

    .rule {
        margin: 6.5rem 0;
    }
}

@media (min-width:769px) and (max-width:992px) {
    .hero {
        height: 600px;
    }

    .marquee_text {
        font-size: 150px;
        letter-spacing: -5;
    }

    .intro {
        height: 550px;
    }

    .intro_button_contain {
        margin-top: 8rem;
    }

    .work {
        height: 650px;
    }

    .testimonials {
        height: 550px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .client_list {
        height: 600px;
    }

    .cta {
        height: 700px;
    }

    .rule {
        margin: 7.5rem 0;
    }
}

@media (min-width:993px) and (max-width:1400px) {
    .hero {
        height: 800px;
    }

    .marquee_text {
        font-size: 175px;
        letter-spacing: -10;
    }

    .intro {
        height: 750px;
    }

    .intro_button_contain {
        margin-top: 9rem;
    }

    .work {
        height: 950px;
    }

    .testimonials {
        height: 850px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .client_list {
        height: 850px;
    }

    .cta {
        height: 850px;
    }

    .rule {
        margin: 9rem 0;
    }
}